<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
    *{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    image-rendering: auto;
    scroll-behavior: smooth;
    }   
    button{
        cursor: pointer;
        user-select: none;
    }
    /* HEADER */
    .phone_button{
        display: flex;
        border: none;
        margin-left: 5%;
        margin-right: 1%;
    }
    .button_menu_group{
        background-color: #0014a8;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btn_text{
        justify-content: center;
        background-color: #0014a8;
        color: white;
        font-size: 130%;
        border: none;
        height: 80px;
    }
    .inner_button_menu_group{
        width: 100%;
        background-color: #0014a8;
        height: 50px;
    }
    .cap_text{
        display: flexbox;
        width: auto;
        margin: auto;
        white-space: nowrap;
        margin-left: 8%;
        font-size: 120%;
    }
    .head_text{
        white-space: nowrap;
        color: #1C1C1C;
        margin-left: 5%;
    }
    .btn_header{
        display: block;
        margin: auto;
    }
    /* HEADER */
    /* FOOTER */
    .footer_txt{
        display: flex;
        background-color: #0014a8;
        color: #eeeeee;
        border: none;
    }
    .footer_section{
        display: flex;
        background-color: #0014a8;
        height: 120px;
        width: 100%;
        border-color: #0014a8;
    }
    .footer_button{
        background-color: #0014a8; 
        border: none;
        margin: auto;
    }
    .policy_text{
        background-color: #0014a8;
        color: #eeeeee;
    }
    .policy{
        background-color: #0014a8;
        height: 80px;
        width: auto;
    }
    /* FOOTER */
    /* BODY */
    /* BODY */
    </style>
    <title>
        Оффицальный сайт "МСК-Ритуал", с вами более 25лет
    </title>
</head>
<body>
<header>
    <div style="
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: none;
        ">
        <a href="/" style="
        display: flexbox;
        margin-right: 10%;
        ">
            <button style="border: none; background-color: white;">
                <h1 class="head_text">МСК-Ритуал</h1>
                <p class="head_text">Оффициальный сайт</p>
            </button>
        </a>
        <img src="">

        <span class="cap_text">
            Организуем похороны в Москве и Московской области
        </span>

        <u style="
        border: none;
        margin-right: 1%;
        ">
            <h2>
                <u style="color: #480607; font-size: 90%;">+7-999-999-99-99</u>
            </h2>        
            <p style="color: #1C1C1C;">Телефон горячей линии</p>
        </u>
    </div>

    <div class="button_menu_group">
        <div class="btn_header">
            <a href="/about" class="inner_button_menu_group">
                <button class="btn_text"> О компании</button>
            </a>
        </div>

        <div class="btn_header">
            <a href="/rityal_services" class="inner_button_menu_group">
                <button class="btn_text">Ритуальные услуги</button>
            </a>
        </div>

        <div class="btn_header">
            <a href="/catalog" class="inner_button_menu_group"> 
                <button class="btn_text">Ритуальные товары</button>
            </a>
        </div>

        <div class="btn_header">
            <a href="/prices" class="inner_button_menu_group">
                <button class="btn_text">Цены</button>
            </a>
        </div>

        <div class="btn_header">
            <a href="/discounts" class="inner_button_menu_group">
                <button class="btn_text">Акции и скидки</button>
            </a>
        </div>

        <div class="btn_header">
            <a href="/contacts" class="inner_button_menu_group">
                <button class="btn_text">Контакты</button>
            </a>
        </div>
    </div>
</header>
<section>
    <div>
        <h1 style="display: flex; margin-left: 2%; margin-top: 3%;">Персональные данные</h1>
    </div>
    <div style="margin-left: 10%;">
        <h2>1. Общие положения Политики в отношении обработки персональных данных</h2>
        <span>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» 
            и определяет порядок обработки персональных данных
            и меры по обеспечению безопасности персональных данных, предпринимаемые ВСТАВИТЬ ИП ИНН ОГРНИП; (далее – Оператор).
            <br>
            1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности 
            соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
            <br>
            1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) 
            применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта ВСТАВИТЬ АДРЕС САЙТ</span>
            <br>
        </span>
        <h2>2. Основные понятия, используемые в Политике</h2>
        <span>2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.
            <br>
            2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).
            <br>
            2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу http://ritualmfc.ru/
            <br>
            2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств.
            <br>
            2.5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.
            <br>
            2.6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
            <br>
            2.7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
            <br>
            2.8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта ВСТАВИТЬ АДРЕС САЙТА
            <br>
            2.9. Пользователь – любой посетитель веб-сайта ВСТАВИТЬ АДРЕС САЙТА
            <br>
            2.10. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.
            <br>
            2.11. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом.
            <br>
            2.12. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу
            <br>
            2.13. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных. </span>
            <br>
        </span>
        <h2>3.Оператор может обрабатывать следующие персональные данные Пользователя</h2>
        <span>
            3.1. фамилия, имя, отчество;
            <br>
            3.2. электронный адрес;
            <br>
            3.3. номера телефонов;
            <br>
            3.4. год, месяц, дата и место рождения;
            <br>
            3.5. фотографии;
            <br>
            3.6. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
            <br>
            3.7. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
            <br>
            3.8. Настоящая Политика конфиденциальности устанавливает обязательства Оператора Веб-сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Оператора сайта при регистрации на Веб-сайте или при оформлении заказа для приобретения Товара.
            <br>
            3.9. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Веб-сайте «РИТУАЛ МФЦ», заполнение форм обратной связи («Оставить свой отзыв», «Отправить резюме», «Задать вопрос», «Заказать услугу», «Получить помощь», «Заказать продукт», «Написать директору», «Оформление заказа», «Задать вопрос специалисту»), все остальные формы обратной связи на Веб-сайте, раздел «Личный кабинет» и включают в себя следующую информацию:
            <br>
            3.9.1. фамилию, имя, отчество Пользователя (вместе или по отдельности);
            <br>
            3.9.2. контактный телефон Пользователя;
            <br>
            3.9.3. адрес электронной почты (e-mail);
            <br>
            3.9.4. адрес доставки Товара;
            <br>
            3.9.5. место жительство Пользователя.
            <br>
            3.10. Веб-сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы:
            <br>
                -IP адрес;
            <br>
                -информация из cookies;
            <br>
                -информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
            <br>
                -время доступа;
            <br>
                -адрес страницы, на которой расположен рекламный блок;
            <br>
                -реферер (адрес предыдущей страницы).
            <br>
            3.10.1. Отключение cookies может повлечь невозможность доступа к частям Веб-сайта, требующим авторизации.
            <br>
            3.10.2. Веб-сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
            <br>
            3.11. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности. 
            <br>
            </span>
            <h2>4. Цели обработки персональных данных</h2>
            <span>
                4.1. Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем; заключение, исполнение и прекращение гражданско-правовых договоров; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте.
                <br>
                4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты info@ritualmfc.ru с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».
                <br>
                4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на Веб-сайте, улучшения качества сайта и его содержания.
                <br>
                4.4. Персональные данные Пользователя Оператор Веб-сайта может использовать в целях: 4.4.1. Идентификации Пользователя, зарегистрированного на Веб-сайте, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с http://ritualmfc.ru/
                <br>
                4.4.2. Предоставления Пользователю доступа к персонализированным ресурсам Веб-сайта. 4.4.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Веб-сайт, оказания услуг, обработка запросов и заявок от Пользователя.
                <br>
                4.4.4. Определения местонахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
                <br>
                4.4.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                <br>
                4.4.6. Создания учетной записи для совершения покупок.
                <br>
                4.4.7. Уведомления Пользователя Веб-сайта о состоянии Заказа.
                <br>
                4.4.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем. 4.4.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Веб-сайтом.
                <br>
                4.4.10. Предоставления Пользователю обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Веб-сайта или от имени партнеров Веб-сайта.
                <br>
                4.4.11. Осуществления рекламной деятельности.
                <br>
                4.4.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Веб-сайта с целью получения продуктов, обновлений и услуг 
                <br>
            <h2>5. Правовые основания обработки персональных данных</h2>
            <span>
                5.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте http://ritualmfc.ru/ Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
                <br>
                5.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript). 
                <br>
            </span>
            <h2>6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h2>
            <span>
                Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.
                <br>
                6.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным не уполномоченных лиц.
                <br>
                6.2. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                <br>
                6.3. Пользователь соглашается с тем, что Оператор вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Веб-сайте «РИТУАЛ МФЦ», включая доставку Товара.
                <br>
                6.4. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                <br>
                6.5. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора info@ritualmfc.ru с пометкой «Актуализация персональных данных».
                <br>
                6.6. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора info@ritualmfc.ru с пометкой «Отзыв согласия на обработку персональных данных». 
                <br>
            </span>
            <h2>7. Трансграничная передача персональных данных</h2>
            <span>
                7.1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
                <br>
                7.2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных. 
                <br>
            </span>
            <h2>8. Разрешение споров</h2>
            <span>
                8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Веб-сайта и Оператором, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                <br>
                8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                <br>
                8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
                <br>
                8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации. 
                <br>
            </span>
            <h2>9. Заключительные положения</h2>
            <span>
                9.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты info@ritualmfc.ru
                <br>
                9.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.
                <br>
                9.3. Оператор вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                <br>
                9.4. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Веб-сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                <br>
                9.5. Действующая версия Политики в свободном доступе расположена в сети Интернет по адресу https://ritualmfc.ru/about/licenses-detail/
                <br>
            </span>
        </div>

</section>

<footer style="margin-top: 10%;">
    <div style="
    display: flex;
    background-color: #0014a8;
    width: 100%;
    position: absolute;
    "
    >
        <div style="
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border: none;">
            <div class="footer_section">
                <u href="" class="footer_button">
                    <span class="footer_txt">
                        some@mail.com
                    </span>
                </u>
            </div>

            <div class="footer_section">
                <a href="https://yandex.ru/maps/-/CDwVjA3l" class="footer_button" target="_blank">
                    <button class="footer_txt">
                        8-я улица Соколиной Горы, 15к16
                    </button>
                </a>
            </div>

            <div class="footer_section">
                <a href="/policy" class="footer_button">
                    <button class="footer_txt">
                        Политика конфиденциальности
                    </button>
                </a>
            </div>
        </div>
        <div>
            <ul class="policy">
                <span class="policy_text"> © 2024 Все права защищены.
                <br>
                Вся информация на сайте носит информационный и
                <br>
                рекламный характер и не является публичной офертой,
                <br>
                определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.</span>
        </div>
    </div>
</footer>
</body>
</html>